*{
    font-family:'Times New Roman', Times, serif;
}

#navbar {
    background-color: rgb(46, 41, 41);
         border-color: rgb(248, 249, 247);
        border-width: 1px;
         border-style: solid;
        height: 50px;
    display: flex;
   /* justify-content: space-between;*/
    justify-content: space-around;
    align-content: center;
}


a{color: rgb(231, 91, 15);
font-size: 20px;
text-decoration: none;}
 

a:hover{
    color: rgb(205, 205, 34);
    font-weight: none;
 }


.main-font-color{
color:orangered;

}
h1{
    
    font-size: 80px;

}


.image-container{
    background-color: rgb(46, 41, 41);
     display: flex;
    justify-content: center;

}
img{height: 30%; 
    width: 90%;
    border: rgb(251, 252, 251) solid 0px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin: 200px 0px 100spx 0px;
    
   
}
.p-container{
    background-color: rgb(46, 41, 41);
    display: flex;
    justify-content: center;
}




p {
      font-size: 100px;
}


